@using Microsoft.Extensions.Localization
@using DnDCharacterSheets.Resources
@using System.ComponentModel

@inject IStringLocalizer<Languages> Localizer;

<div class="d-and-d-character-sheet container-xl mt-5 mb-5">
    <div>
        <div class="row mb-4">
            <div class="col-md-3 ps-2 pe-2">
                <div class="d-and-d-page-title">D&D</div>
                <div class="d-and-d-attribute-collection char-name pe-3 ps-3">
                    <input type="text" @bind-value="@Character.Name" />
                </div>
                <label style="width: 100%; text-align: right; text-transform: uppercase; font-size: 11px">@Localizer["CharacterName"]</label>
            </div>
            <div class="col-md-9 pe-2 ps-2">
                <div class="d-and-d-attribute-collection pe-3 ps-3" style="height: 140px">
                    <div class="row ps-3 pe-3">
                        <div class="col-md-3 col-6 ps-0 pe-0">
                            <input type="text" @bind-value="@Character.ClassLevel" />
                            <label>@Localizer["ClassLevel"]</label>
                        </div>
                        <div class="col-md-3 col-6 ps-0 pe-0">
                            <input type="text" @bind-value="@Character.Background" />
                            <label>@Localizer["Background"]</label>
                        </div>
                        <div class="col-md-3 col-6 ps-0 pe-0">
                            <input type="text" @bind-value="@Character.PlayerName" />
                            <label>@Localizer["PlayerName"]</label>
                        </div>
                        <div class="col-md-3 col-6 ps-0 pe-0">
                            <input type="text" @bind-value="@Character.Faction" />
                            <label>@Localizer["Faction"]</label>
                        </div>
                    </div>
                    <div class="row ps-3 pe-3">
                        <div class="col-md-3 col-6 ps-0 pe-0">
                            <input type="text" @bind-value="@Character.Race" />
                            <label>Race</label>
                        </div>
                        <div class="col-md-3 col-6 ps-0 pe-0">
                            <input type="text" @bind-value="@Character.Alignment" />
                            <label>Alignment</label>
                        </div>
                        <div class="col-md-3 col-6 ps-0 pe-0">
                            <input type="text" @bind-value="@Character.Xp" />
                            <label>Experience Points</label>
                        </div>
                        <div class="col-md-3 col-6 ps-0 pe-0">
                            <input type="text" @bind-value="@Character.DciNo" />
                            <label>DCI Number</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-4 pr-1">
                        <div class="d-and-d-box gray">
                            <StatBox Label="Strength" Name="str" @bind-Value="@Character.Str" />
                            <StatBox Label="Dexterity" Name="dex" @bind-Value=@Character.Dex />
                            <StatBox Label="Constitution" Name="con" @bind-Value=@Character.Con />
                            <StatBox Label="Intelligence" Name="int" @bind-Value=@Character.Int />
                            <StatBox Label="Wisdom" Name="wis" @bind-Value=@Character.Wis />
                            <StatBox Label="Charisma" Name="cha" @bind-Value=@Character.Cha />
                        </div>
                    </div>

                    <div class="col-8">
                        <StatRow Label="Inspiration" Name="inspiration" @bind-Value=@Character.Inspiration />
                        <StatRow Label="Proficiency Bonus" Name="proficiencyBonus" @bind-Value=@Character.ProficiencyBonus Classes="rounded" />
                        <div class="d-and-d-box">
                            <div style="text-align: left">
                                <Skill Label="Strength" @bind-Value="@Character.StrSave" @bind-Checked="@Character.StrSaveChecked" />
                                <Skill Label="Dexterity" @bind-Value="@Character.DexSave" @bind-Checked="@Character.DexSaveChecked" />
                                <Skill Label="Constitution" @bind-Value="@Character.ConSave" @bind-Checked="@Character.ConSaveChecked" />
                                <Skill Label="Intelligence" @bind-Value="@Character.IntSave" @bind-Checked="@Character.IntSaveChecked" />
                                <Skill Label="Wisdom" @bind-Value="@Character.WisSave" @bind-Checked="@Character.WisSaveChecked" />
                                <Skill Label="Charisma" @bind-Value="@Character.ChaSave" @bind-Checked="@Character.ChaSaveChecked" />
                            </div>
                            <label class="d-and-d-title mt-2">Saving Throws</label>
                        </div>
                        <div class="d-and-d-box">
                            <div style="text-align: left">
                                <Skill Label="Acrobatics" Ability="Dex" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                                <Skill Label="Animal Handling" Ability="Wis" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                                <Skill Label="Arcana" Ability="Int" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                                <Skill Label="Athletics" Ability="Str" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                                <Skill Label="Deception" Ability="CHa" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                                <Skill Label="History" Ability="Int" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                                <Skill Label="Insight" Ability="Wis" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                                <Skill Label="Intimidation" Ability="Cha" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                                <Skill Label="Investigation" Ability="Int" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                                <Skill Label="Medicine" Ability="Iws" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                                <Skill Label="Nature" Ability="Int" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                                <Skill Label="Perception" Ability="Wis" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                                <Skill Label="Performance" Ability="Cha" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                                <Skill Label="Persuasion" Ability="Cha" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                                <Skill Label="Religion" Ability="Int" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                                <Skill Label="Sleight of Hand" Ability="Dex" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                                <Skill Label="Stealth" Ability="Dex" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                                <Skill Label="Survival" Ability="Wis" @bind-Value="@Character.SkillAcrobatics" @bind-Checked="@Character.SkillAcrobaticsChecked" />
                            </div>
                            <label class="d-and-d-title mt-2">Skills</label>
                        </div>
                    </div>
                </div>
                <div class="mt-2">
                    <StatRow Classes="rounded rounded-sides" Label="Passive Wisdom (Perception)" @bind-Value=@Character.PassivePerception />
                </div>
                <div class="d-and-d-box mt-4">
                    <textarea @bind="@Character.OtherProficiencies" @bind:event="oninput" rows=12></textarea>
                    <label class="d-and-d-title mt-2">
                        @Localizer["ProficienciesAndLanguages"]
                    </label>
                </div>
            </div>


            <div class="col-md-4">
                <div class="d-and-d-box gray">
                    <div class="row">
                        <div class="col-4 pe-2 ps-2">
                            <StatBox2 Classes="shield" TopLabel="@Localizer["Armour"]" Label="@Localizer["Class"]" @bind-Value="Character.Ac" />
                        </div>
                        <div class="col-4 pe-2">
                            <StatBox2 Label="@Localizer["Initiative"]" @bind-Value="Character.Init" />
                        </div>
                        <div class="col-4 ps-2">
                            <StatBox2 Label="@Localizer["Speed"]" @bind-Value="Character.Speed" />
                        </div>
                    </div>
                    <div class="d-and-d-box white mt-1 pb-1 mb-2" style="border-radius: 8px 8px 0 0;">
                        <div class="d-and-d-gray-text">
                            <label style="width: 95px">Hit Point Maximum</label>
                            <input class="d-and-d-linput" style="width: calc(100% - 100px)" type="text" @bind-value="@Character.MaxHp" />
                        </div>
                        <input class="d-and-d-cinput" type="text" @bind-value="@Character.Hp" />
                        <label class="d-and-d-title" style="margin-top: 5px">Current Hit Points</label>
                    </div>
                    <div class="d-and-d-box white mb-2 pb-2" style="border-radius: 0 0 8px 8px;">
                        <input class="d-and-d-cinput" type="text" @bind-value="@Character.TempHp" />
                        <label class="d-and-d-title mt-1">Temporary Hit Points</label>
                    </div>

                    <div class="row mt-1">
                        <div class="col-6 pe-1">
                            <div class="d-and-d-box white mb-0 pb-1">
                                <div class="d-and-d-gray-text">
                                    <label style="width: 25px">Total</label>
                                    <input class="d-and-d-linput" style="width: calc(100% - 30px)" type="text" @bind-value="@Character.HitDiceMax" />
                                </div>
                                <input class="d-and-d-cinput" type="text" @bind-value="@Character.HitDice" />
                                <label class="d-and-d-title">@Localizer["HitDice"]</label>
                            </div>
                        </div>

                        <div class="col-6 ps-1">
                            <div class="d-and-d-box white mb-0 pb-1">
                                <DeathSave Classes="d-and-d-save-success" Label="@Localizer["Successes"]" @bind-Value="@Character.DeathsaveSuccesses" />
                                <DeathSave Classes="d-and-d-save-failure" Label="@Localizer["Failures"]" @bind-Value="@Character.DeathsaveFailures" />
                                <label class="d-and-d-title">@Localizer["DeathSave"]</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-and-d-box mt-3">
                    <AttackTable Attacks="@Character.Attacks" />
                    <textarea @bind="@Character.AttacksText" @bind:event="oninput" rows=6></textarea>
                    <label class="d-and-d-title mt-3">@Localizer["AttacksSpellcasting"]</label>
                </div>

                <div class="d-and-d-box mt-4">
                    <div class="row">
                        <div style="width: 100px">
                            <Currency Label="@Localizer["CP"]" @bind-Value="@Character.CopperPieces" />
                            <Currency Label="@Localizer["SP"]" @bind-Value="@Character.SilverPieces" />
                            <Currency Label="@Localizer["EP"]" @bind-Value="@Character.EtherumPieces" />
                            <Currency Label="@Localizer["GP"]" @bind-Value="@Character.GoldPieces" />
                            <Currency Label="@Localizer["PP"]" @bind-Value="@Character.PlatinumPieces" />
                        </div>
                        <div class="col">
                            <textarea @bind="@Character.Equipment" @bind:event="oninput" rows=10></textarea>
                        </div>
                        <div class="col-md-12">
                            <textarea @bind="@Character.Equipment2" @bind:event="oninput" rows=4></textarea>
                        </div>
                    </div>
                    <label class="d-and-d-title mt-2">@Localizer["Equipment"]</label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="d-and-d-box gray">
                    <div class="d-and-d-box white mb-2 pt-1 pb-2" style="border-radius: 8px 8px 0 0">
                        <textarea @bind="@Character.PersonalityTraits" @bind:event="oninput" rows=3></textarea>
                        <label class="d-and-d-title mt-2">@Localizer["PersonalityTraits"]</label>
                    </div>
                    <div class="d-and-d-box white mb-2 pt-1 pb-2" style="border-radius: 0 0 0 0">
                        <textarea @bind="@Character.Ideals" @bind:event="oninput" rows=3></textarea>
                        <label class="d-and-d-title mt-2">@Localizer["Ideals"]</label>
                    </div>
                    <div class="d-and-d-box white mb-2 pt-1 pb-2" style="border-radius: 0 0 0 0">
                        <textarea @bind="@Character.Ideals" @bind:event="oninput" rows=2></textarea>
                        <label class="d-and-d-title mt-2">@Localizer["Bonds"]</label>
                    </div>
                    <div class="d-and-d-box white mb-0 pt-1 pb-2" style="border-radius: 0 0 8px 8px">
                        <textarea @bind="@Character.Ideals" @bind:event="oninput" rows=2></textarea>
                        <label class="d-and-d-title mt-2">@Localizer["Flaws"]</label>
                    </div>
                </div>

                <div class="d-and-d-box mt-4">
                    <textarea class="pb-1" @bind="@Character.FeaturesTraits" @bind:event="oninput" rows=24></textarea>
                    <label class="d-and-d-title mt-2">@Localizer["FeaturesTraits"]</label>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public DnDCharacter Character
    {
        get => character;
        set { character = value; character.PropertyChanged += UpdateCharacter; }
    }

    [Parameter]
    public EventCallback<DnDCharacter> CharacterChanged { get; set; }

    private void UpdateCharacter(object? sender, PropertyChangedEventArgs e)
    {
        CharacterChanged.InvokeAsync(Character);
    }

    private DnDCharacter character = new();
}